.login-header {
    background: #517496;
    color: #f9f9f9;
}

.login-header p {
    padding-top: 22px;
    font-size: x-large;
}

.login-header span {
    font-size: 40px;
    padding: 10px;
}

#loginForm {
    margin-top: 60px;
    padding: 20px;
    border: 1px solid white;
    border-radius: 5px;
}

#loginForm .name-input {
    margin-top: 20px;
}

#loginForm .alert-danger {
    font-size: larger;
}

#loginForm .input-group-addon, #loginForm .btn {
    background: #517496;
    color: #f9f9f9;
}